html, body, #root {
    height: 100%; /* Ensure the background covers the full height */
    margin: 0;
    font-family: Arial, sans-serif;
}
body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    display: flex;
    flex-grow: 1;
}
.main-layout {
    flex-grow: 1; /* Ensures it grows to fill the remaining space */
}

/* .sidebar {
    background-color: #f5f7fa;
    padding: 20px;
    height: 100vh;
    width: 250px;
} */

.email-preview {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space between elements */
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    transition: background-color 0.3s;

    
}

.email-preview:hover {
    background-color: #f1f3f4;
}

.email-preview input[type="checkbox"] {
    margin-right: 10px;
}

.email-preview .star-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.email-preview .email-from {
    margin-right: 20px;
    font-weight: bold;
    color: #1a73e8;
    flex-basis: 20%;
}

.email-preview .email-subject {
    margin-right: 20px;
    flex-basis: 40%;
    font-weight: bold;
    color: #202124;
}

.email-preview .email-body-snippet {
    color: #5f6368;
    flex-basis: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.email-preview .email-date {
    color: #5f6368;
    flex-basis: 10%;
    text-align: right;
}

.email-preview button {
    background: none;
    border: none;
    color: #d93025;
    cursor: pointer;
    padding: 0;
    margin-left: 15px;
}

.email-full-body {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    color: #333;

    
}

.email-index {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

}

.email-folder-list{

    grid-row: 2/3;
}
.email-filter{
    grid-column: 2;
}
.email-preview.dark {
    background-color: #f1f3f4; /* Adjust the color to match the one in your image */
    color: #333; /* Ensure the text color is readable on the new background */
}

.email-preview.dark:hover {
    background-color: #e0e0e0; /* Optional: Slightly darker color on hover */
}